---
layout: app/app-layout
pagename: screenful
---
<div class="title-block">

	<h1 class="title">
		Agile Metrics
	</h1 <p class="title-description">
	Supercharge your teamwork with
	<a href="https://screenful.com" target="_blank">Screenful</a>!
	</p>

</div>


<section class="section">

	<h3 class="subtitle">This project is proudly supported by</h3>

	<a href="https://screenful.com/?utm_source=modularadmin&utm_campaign=modularadmin" target="_blank">
		<div class="screenful-logo"></div>
	</a>

	<p class="description">
		Screenful is the easiest way to <strong>visualise and share your project progress</strong>
		using data from your <strong>existing tools</strong>.<br>
		Get a quick overview of your team's status on your smartphone or tablet.
		<a href="https://screenful.com/?utm_source=modularadmin&utm_campaign=modularadmin" target="_blank">Learn
			more</a>
	</p>

	<div class="divider"></div>

	<div class="container integrations">
		<h3 class="integrations-title">Visual dashboards and team status reports</h3>

		<div class="integrations-tools">
			<a href="https://screenful.com/dashboard-for-trello/?utm_source=modularadmin&utm_campaign=modularadmin"
				class="integration-item">
				<img class="integration-logo" title="Instant visual dashboards for Trello"
					alt="Instant visual dashboards for Trello"
					src='{{BASE_URL}}assets/screenful/integration-trello.png'>
			</a>

			<a href="https://screenful.com/dashboard-for-jira/?utm_source=modularadmin&utm_campaign=modularadmin"
				class="integration-item">
				<img class="integration-logo" title="Instant visual dashboards for JIRA"
					alt="Instant visual dashboards for JIRA" src='{{BASE_URL}}assets/screenful/integration-jira.png'>
			</a>

			<a href="https://screenful.com/dashboard-for-github/?utm_source=modularadmin&utm_campaign=modularadmin"
				class="integration-item">
				<img class="integration-logo" title="Instant visual dashboards for GitHub issues"
					alt="Instant visual dashboards for GitHub issues"
					src='{{BASE_URL}}assets/screenful/integration-github.png'>
			</a>

			<a href="https://screenful.com/dashboard-for-pivotal-tracker/?utm_source=modularadmin&utm_campaign=modularadmin"
				class="integration-item">
				<img class="integration-logo" title="Instant visual dashboards for Pivotal Tracker"
					alt="Instant visual dashboards for Pivotal Tracker"
					src='{{BASE_URL}}assets/screenful/integration-pivotal.png'>
			</a>

			<a href="https://screenful.com/dashboard-for-asana/?utm_source=modularadmin&utm_campaign=modularadmin"
				class="integration-item">
				<img class="integration-logo" title="Instant visual dashboards for Asana"
					alt="Instant visual dashboards for Asana" src='{{BASE_URL}}assets/screenful/integration-asana.png'>
			</a>

			<a href="https://screenful.com/dashboard-for-gitlab/?utm_source=modularadmin&utm_campaign=modularadmin"
				class="integration-item">
				<img class="integration-logo" title="Instant visual dashboards for Asana"
					alt="Instant visual dashboards for Asana" src='{{BASE_URL}}assets/screenful/integration-gitlab.png'>
			</a>
		</div>

		<h6 class="subtitle">Click the logo to learn how it works with your tool of choice!</h6>
	</div>

	{{!----------- Integrations End-----------}}

	{{!----------- Benefits Start -----------}}

	<div class="divider"></div>

	<h3 class="benefits-title">Make better decisions based on facts</h3>

	<div class="row">

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a href="https://screenful.com/tour/timing-screen/?utm_source=modularadmin&utm_campaign=modularadmin">
					<img class="ex-pic" alt="Timing Screen" title="Timing Screen"
						src='{{BASE_URL}}assets/screenful/screen-timing.png'>
				</a>
				<div class="description">
					<a
						href="https://screenful.com/tour/timing-screen/?utm_source=modularadmin&utm_campaign=modularadmin">
						<h3 class="title">Track your lead and cycle times</h3>
					</a>
					<ul>
						<li>What is your average lead time for resolving bug/ticket/story?</li>
						<li>How quickly tasks are resolved after work is started?</li>
						<li>Identify bottlenecks in your workflow.</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a
					href="https://screenful.com/tour/sprint-burndown-chart/?utm_source=modularadmin&utm_campaign=modularadmin">
					<img class="ex-pic" alt="Sprint Burndown" title="Sprint Burndown"
						src='{{BASE_URL}}assets/screenful/screen-sprint.png'>
				</a>
				<div class="description">
					<a
						href="https://screenful.com/tour/sprint-burndown-chart/?utm_source=modularadmin&utm_campaign=modularadmin">
						<h3 class="title">Track your sprint progress with a burndown chart</h3>
					</a>
					<ul>
						<li>Are you ahead or behind the target?</li>
						<li>How many tasks are still not started?</li>
						<li>Is your team's velocity stable?</li>
						<li>A better sprint burndown chart for your team.</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a
					href="https://screenful.com/tour/milestone-burnup-chart/?utm_source=modularadmin&utm_campaign=modularadmin">
					<img class="ex-pic" alt="Milestone Burnup Chart" title="Milestone Burnup Chart"
						src='{{BASE_URL}}assets/screenful/screen-milestone.png'>
				</a>
				<div class="description">
					<a
						href="https://screenful.com/tour/milestone-burnup-chart/?utm_source=modularadmin&utm_campaign=modularadmin">
						<h3 class="title">Monitor the progress of your milestones</h3>
					</a>
					<ul>
						<li>How much of work is done vs still todo?</li>
						<li>How scope changes affect the projected delivery dates?</li>
						<li>What is the most likely delivery date based on recent velocity?</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a
					href="https://screenful.com/tour/task-status-screen/?utm_source=modularadmin&utm_campaign=modularadmin">
					<img class="ex-pic" alt="Task Status" title="Task Status"
						src='{{BASE_URL}}assets/screenful/screen-task-status.png'>
				</a>
				<div class="description">
					<a
						href="https://screenful.com/tour/task-status-screen/?utm_source=modularadmin&utm_campaign=modularadmin">
						<h3 class="title">Gain a bird's-eye view on your projects</h3>
					</a>
					<ul>
						<li>Are there any overdue tasks?</li>
						<li>Does everyone has enough work assigned?</li>
						<li>What has been recently completed?</li>
						<li>How many tasks were created or completed within last 7 days?</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a
					href="https://screenful.com/tour/open-tasks-chart/?utm_source=modularadmin&utm_campaign=modularadmin">
					<img class="ex-pic" alt="Open Tasks chart" title="Open Tasks chart"
						src='{{BASE_URL}}assets/screenful/screen-open-tasks.png'>
				</a>
				<div class="description">
					<a
						href="https://screenful.com/tour/open-tasks-chart/?utm_source=modularadmin&utm_campaign=modularadmin">
						<h3 class="title">Track your work in progress</h3>
					</a>
					<ul>
						<li>How many open tasks there are per label/workflow state/assignee?</li>
						<li>How much work is assigned to each individual?</li>
						<li>Is your work piling up?</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a
					href="https://screenful.com/tour/completed-tasks-chart/?utm_source=modularadmin&utm_campaign=modularadmin">
					<img class="ex-pic" alt="Completed Tasks chart" title="Completed Tasks chart"
						src='{{BASE_URL}}assets/screenful/screen-completed-tasks.png'>
				</a>
				<div class="description">
					<a
						href="https://screenful.com/tour/completed-tasks-chart/?utm_source=modularadmin&utm_campaign=modularadmin">
						<h3 class="title">Track your completed work</h3>
					</a>
					<ul>
						<li>How much work did you get done?</li>
						<li>How is your time distributed between different activities?</li>
						<li>What is the trend - are you working more on activities that create value?</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a
					href="https://screenful.com/tour/team-status-screen/?utm_source=modularadmin&utm_campaign=modularadmin">
					<img class="ex-pic" alt="Team Status screen" title="Team Status screen"
						src='{{BASE_URL}}assets/screenful/screen-team-status.png'>
				</a>
				<div class="description">
					<a
						href="https://screenful.com/tour/team-status-screen/?utm_source=modularadmin&utm_campaign=modularadmin">
						<h3 class="title">See what each team member is currently working on</h3>
					</a>
					<ul>
						<li>Which tasks are currently in progress?</li>
						<li>Who's working on what?</li>
						<li>What has been recently completed?</li>
						<li>Pick your own lists. </li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-md-6 screen-colum">

			<div class="screen-item">
				<a
					href="https://screenful.com/blog/introducing-custom-chart-create-any-chart-from-your-task-data/?utm_source=modularadmin&utm_campaign=modularadmin">
					<img class="ex-pic" alt="Custom Chart" title="Custom Chart"
						src='{{BASE_URL}}assets/screenful/screen-custom-chart.png'>
				</a>
				<div class="description">
					<a
						href="https://screenful.com/blog/introducing-custom-chart-create-any-chart-from-your-task-data/?utm_source=modularadmin&utm_campaign=modularadmin">
						<h3 class="title">Create custom charts</h3>
					</a>
					<ul>
						<li>Create charts from your task data</li>
						<li>Tasks or story points done, lead & cycle times, pick the metric you want to see</li>
						<li>Group by label, assignee, source board, or by any other property.</li>
					</ul>
				</div>
			</div>

		</div>

	</div>

	{{!----------- Benefits End -----------}}

</section>
