<div class="card sameheight-item items" data-exclude="xs,sm">
	<div class="card-header bordered">
		<div class="header-block">
			<h3 class="title">
				Items
			</h3>
			<a href="" class="btn btn-primary btn-sm rounded items-btn">
				Add new
			</a>
		</div>
		<div class="header-block pull-right">
			<label class="search">
				<input class="search-input" placeholder="search...">
				<i class="fa fa-search search-icon"></i>
			</label>
			<div class="pagination">
				<a href="" class="btn btn-primary btn-sm items-btn rounded">
					<i class="fa fa-angle-up"></i>
				</a>
				<a href="" class="btn btn-primary btn-sm items-btn rounded">
					<i class="fa fa-angle-down"></i>
				</a>
			</div>
		</div>
	</div>
	<ul class="items-list striped">
		<li class="item item-header hidden-sm-down">
			<div class="item-row">
				<div class="item-col fixed item-col-img xs"></div>
				<div class="item-col">
					<div class="row">
						<div class="col-md-6">
							<span>Name</span>
						</div>
						<div class="col-md-2 text-xs-right">
							<span>Sales</span>
						</div>
						<div class="col-md-2 text-xs-center">
							<span>Stats</span>
						</div>
						<div class="col-md-2 text-xs-right">
							<span>Published</span>
						</div>
					</div>
				</div>
			</div>
		</li>
		{{#each items}}
			<li class="item">
				<div class="item-row">
					<div class="item-col fixed item-col-img xs">
						<a href="">
							<div class="item-img xs rounded" style="background-image: url({{this.img}})"></div>
						</a>
					</div>
					<div class="item-col">
						<div class="row">
							<div class="col-xs-12 col-md-6">
								<div class="item-title-block">
									<a href="" class="item-title-a">
										<h4 class="item-title">
											{{this.title}}
										</h4>
									</a>
								</div>
								<div class="item-content small">
									<p class="item-description ">{{this.description}}</p>
								</div>
							</div>
							<div class="col-xs-4 col-md-2 text-xs-right">
								{{this.sales}}
							</div>
							<div class="col-xs-4 col-md-2 text-xs-center">
								<div class="sparkline" data-type="bar"></div>	
							</div>
							<div class="col-xs-4 col-md-2 text-xs-right">
								{{this.date}}
							</div>
						</div>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>
</div>