<div class="card sameheight-item items" data-exclude="xs,sm,lg">
	<div class="card-header bordered">
		<div class="header-block">
			<h3 class="title">
				Items
			</h3>
			<a href="" class="btn btn-primary btn-sm rounded">
				Add new
			</a>
		</div>
		<div class="header-block pull-right">
			<label class="search">
				<input class="search-input" placeholder="search...">
				<i class="fa fa-search search-icon"></i>
			</label>
			<div class="pagination">
				<a href="" class="btn btn-primary btn-sm rounded">
					<i class="fa fa-angle-up"></i>
				</a>
				<a href="" class="btn btn-primary btn-sm rounded">
					<i class="fa fa-angle-down"></i>
				</a>
			</div>
		</div>
	</div>
	<ul class="items-list striped">
		<li class="item item-header hidden-lg-down">
			<div class="item-row">
				<div class="item-col fixed item-col-img xs"></div>
				<div class="item-col item-col-title">
					<span>Name</span>
				</div>
				<div class="item-col fixed item-col-sales">
					<span>Sales</span>
				</div>
				<div class="item-col fixed item-col-stats">
					<span>Stats</span>
				</div>
				<div class="item-col fixed item-col-date">
					<span>Published</span>
				</div>
			</div>
		</li>
		{{#each items}}
			<li class="item">	
				<div class="item-row">

					{{!-- Mobile image column --}}
					<div class="item-col item-col-img fixed md mobile">
						<a href="">
							<div class="item-img rounded" style="background-image: url({{this.img}})"></div>
						</a>
					</div>

					{{!-- Desktop view row --}}
					<div class="item-col desktop">
						<div class="item-row">

							<div class="item-col fixed item-col-img xs">
								<a href="">
									<div class="item-img xs rounded" style="background-image: url({{this.img}})"></div>
								</a>
							</div>
							<div class="item-col item-col-title">
								<div>
									<a href="" class="">
										<h4 class="item-title">
											{{this.title}}
										</h4>
									</a>
								</div>
							</div>
							<div class="item-col fixed item-col-sales">
								<div>
									{{this.sales}}
								</div>
							</div>
							<div class="item-col fixed item-col-stats">
								<div>
									<div class="sparkline" data-type="bar"></div>	
								</div>
							</div>
							<div class="item-col fixed item-col-date">
								<div>
									{{this.date}}
								<div>
							</div>
						</div>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>
</div>