{{#each urakat}}
	<div class="card sameheight-item items" data-exclude="xs,sm,lg">
		<div class="card-header bordered">
			<div class="header-block">
				<h3 class="title">
					{{this.title}}
				</h3>
				<a href="item-editor.html" class="btn btn-primary btn-sm">
					Lisää uusi hankinta
				</a>
			</div>
		</div>
		<ul class="item-list striped">
			<li class="item item-list-header">
				<div class="item-row">
					<div class="item-col item-col-header fixed item-col-img xs"></div>
					<div class="item-col item-col-header item-col-title">
						<div>
							<span>Luotu</span>
						</div>
					</div>
				</div>
				{{#each items}}
					{{#is this.state "===" "Created"}}
						<div class="item-row">
							<div class="item-col item-col-title no-overflow">
								{{this.title}}
							</div>
							<div class="item-col item-col-stats no-overflow">
								{{this.author}}
							</div>
						</div>
					{{/is}}
				{{/each}}
				<div class="item-row">
					<div class="item-col item-col-header fixed item-col-img xs"></div>
					<div class="item-col item-col-header item-col-title">
						<div>
							<span>Aktiivinen</span>
						</div>
					</div>
				</div>
				{{#each items}}
					{{#is this.state "===" "Active"}}
						<div class="item-row">
							<div class="item-col item-col-title no-overflow">
								{{this.title}}
							</div>
							<div class="item-col item-col-stats no-overflow">
								{{this.author}}
							</div>
						</div>
					{{/is}}
				{{/each}}
					<div class="item-row">
					<div class="item-col item-col-header fixed item-col-img xs"></div>
					<div class="item-col item-col-header item-col-title">
						<div>
							<span>Valmis</span>
						</div>
					</div>
				</div>
				{{#each items}}
					{{#is this.state "===" "Done"}}
						<div class="item-row">
							<div class="item-col item-col-title no-overflow">
								{{this.title}}
							</div>
							<div class="item-col item-col-stats no-overflow">
								{{this.author}}
							</div>
						</div>
					{{/is}}
				{{/each}}
			</li>

		</ul>
	</div>
{{/each}}
<div class="card-header bordered">
	...Tai toisenlainen näkymä
</div>
<div class="card sameheight-item items" data-exclude="xs,sm,lg">
	<div class="card-header bordered">
		<div class="header-block">
			<h3 class="title">
				Kaikki hankkeet tyypin mukaan
			</h3>
		</div>
	</div>
	<ul class="item-list striped">
		<li class="item item-list-header">
			<div class="item-row">
				<div class="item-col item-col-header fixed item-col-img xs"></div>
				<div class="item-col item-col-header item-col-title">
					<div>
						<span>Tate</span>
					</div>
				</div>
			</div>
			{{#each urakat}}
			{{#each items}}
				{{#is this.category "===" "Tate"}}
					<div class="item-row">
						<div class="item-col item-col-title no-overflow">
							{{this.title}}
						</div>
						<div class="item-col item-col-stats no-overflow">
							{{this.author}}
						</div>
					</div>
				{{/is}}
			{{/each}}
			{{/each}}
			<div class="item-row">
				<div class="item-col item-col-header fixed item-col-img xs"></div>
				<div class="item-col item-col-header item-col-title">
					<div>
						<span>Maarakennus</span>
					</div>
				</div>
			</div>
			{{#each urakat}}
			{{#each items}}
				{{#is this.category "===" "Maarakenne"}}
					<div class="item-row">
						<div class="item-col item-col-title no-overflow">
							{{this.title}}
						</div>
						<div class="item-col item-col-stats no-overflow">
							{{this.author}}
						</div>
					</div>
				{{/is}}
			{{/each}}
			{{/each}}
				<div class="item-row">
				<div class="item-col item-col-header fixed item-col-img xs"></div>
				<div class="item-col item-col-header item-col-title">
					<div>
						<span>Elementit</span>
					</div>
				</div>
			</div>
			{{#each urakat}}
			{{#each items}}
				{{#is this.category "===" "Elementit"}}
					<div class="item-row">
						<div class="item-col item-col-title no-overflow">
							{{this.title}}
						</div>
						<div class="item-col item-col-stats no-overflow">
							{{this.author}}
						</div>
					</div>
				{{/is}}
			{{/each}}
			{{/each}}
			<div class="item-row">
				<div class="item-col item-col-header fixed item-col-img xs"></div>
				<div class="item-col item-col-header item-col-title">
					<div>
						<span>Ilmiö</span>
					</div>
				</div>
			</div>
			{{#each urakat}}
			{{#each items}}
				{{#is this.category "===" "Ilmiö"}}
					<div class="item-row">
						<div class="item-col item-col-title no-overflow">
							{{this.title}}
						</div>
						<div class="item-col item-col-stats no-overflow">
							{{this.author}}
						</div>
					</div>
				{{/is}}
			{{/each}}
			{{/each}}
		</li>
	</ul>
</div>


