{{#each urakat}}
	<div class="card sameheight-item items" data-exclude="xs,sm,lg">
		<div class="card-header bordered">
			<div class="header-block">
				<h3 class="title">
					{{this.title}}
				</h3>
				<a href="item-editor.html" class="btn btn-primary btn-sm">
					Lisää uusi hankinta
				</a>
			</div>
		</div>
		<ul class="item-list striped">
			<li class="item item-list-header">
				<div class="item-row">
					<div class="item-col item-col-header fixed item-col-img xs"></div>
					<div class="item-col item-col-header item-col-title">
						<div>
							<span>Tyyppi</span>
						</div>
					</div>
					<div class="item-col item-col-header item-col-sales">
						<div>
							<span>Arvo</span>
						</div>
					</div>
					<div class="item-col item-col-header item-col-stats">
						<div class="no-overflow">
							<span>Vastuuhenkilö</span>
						</div>
					</div>
					<div class="item-col item-col-header item-col-date">
						<div>
							<span>Aloitettu</span>
						</div>
					</div>
				</div>
			</li>
			{{#each items}}
				<li class="item">
					<div class="item-row">
						<div class="item-col fixed item-col-img xs">
							<a href="">
								<div class="item-img xs rounded" style="background-image: url({{this.img}})"></div>
							</a>
						</div>
						<div class="item-col item-col-title no-overflow">
							<div>
								<a href="" class="">
									<h4 class="item-title no-wrap">
										{{this.category}}
									</h4>
								</a>
							</div>
						</div>
						<div class="item-col item-col-sales">
							<div class="item-heading">Sales</div>
							<div>
								{{this.sales}}
							</div>
						</div>
						<div class="item-col item-col-stats">
							<div class="item-heading">Stats</div>
							<div>
								{{this.author}}
							</div>
						</div>
						<div class="item-col item-col-date">
							<div class="item-heading">Published</div>
							<div>
								{{this.date}}
							</div>
						</div>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
{{/each}}
