<div class="card sameheight-item items" data-exclude="xs">
	<div class="card-block">
		<div class="title-block">
			<h3 class="title">
				Items
			</h3>
		</div>
	</div>



	<ul class="items-list striped">
		{{#each items}}
			<li class="item">
				<div class="item-row">
					<div class="item-col fixed item-col-img">
						<a href="">
							<div class="item-img rounded" style="background-image: url({{this.img}})"></div>
						</a>
					</div>
					<div class="item-col">
						<div class="item-title-block">
							<a href="">
								<h4 class="item-title">
									{{this.title}}
								</h4>
							</a>
						</div>
						<div class="item-footer item-date-block text-xs-right small">
							<a href="#">
								<i class="fa fa-comment"></i> 13
							</a> | 
							{{this.date}}
						</div>
					</div>
				</div>
			</li>
		{{/each}}
	</ul>



	{{!-- {{#each items}}
		<div class="item">
			<div class="item-row">
				<div class="item-col">
					<a href="">
						<div class="item-img rounded" style="background-image: url({{this.img}})"></div>
					</a>
				</div>
				<div class="item-col">
					<div class="item-title">
						{{this.title}}
					</div>
					<div class="item-date">
						{{this.date}}
					</div>
				</div>
			</div>
		</div>
	{{/each}} --}}

	{{!-- <ul class="items-list striped">
		{{#each items}}
			<li>
				<div class="item-col col-img">
					<a href="">
						<div class="img rounded" style="background-image: url({{this.img}})"></div>
					</a>
				</div>
				<div class="item-col  col-body">
					<div>
						<a href="">
							<strong>
								{{this.title}}
							</strong>
						</a>
					</div>
					<div>
						{{this.date}}
					</div>
				</div>
			</li>
		{{/each}}
		<li class="items-list-footer text-center">
			<div class="item-col">
				<a href="items-list.html">
					View All
				</a>
			</div>
		</li>
	</ul> --}}

</div>